@model OnlineStore.Models.ViewModels.AjaxMainSeachViewModel

<div class="row row-cols-1 row-cols-lg-2" style="max-height:80vh; overflow-y:auto">
    <div class="col pt-1 ps-3 mb-5">
        <div class="list-group mb-5">
            @foreach (var tag in Model.Tags)
            {
                <a class="list-group-item list-group-item-action border-0" asp-action="IndexProducts" asp-route-searchString="@tag">@tag</a>
            }
        </div>

        <div class="list-group">
            @if (Model.Categories.Count() != 0)
            {
                <div class="list-group-item text-muted pb-3 border-0">Search by category</div>
            }
            @foreach (var category in Model.Categories)
            {
                <a class="list-group-item list-group-item-action border-0" asp-action="IndexCategories" asp-route-categoryId="@category.Id">@category.Title</a>
            }
        </div>
    </div>


    <div class="col mb-1">
        <div class="list-group">
            @foreach (var product in Model.Products)
            {
                @*<div><a asp-action="Details" asp-route-productId="@product.Id">@product.Title</a></div>*@
            <div class="d-flex position-relative me-3 mb-3 border-bottom border-2 border-success" title="@product.Title @product.Feature">
                <div class="flex-shrink-0">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(product.Image))" class="flex-shrink-0 img-thumbnail ms-1 me-3 border-0" style="height:5rem;" alt="Category image">
                </div> 
                    <div class="flex-grow-1 text-truncate">
                        <span class="mb-1 mt-0 fw-bold fs-6" title="@product.Title @product.Feature" data-bs-toggle="tooltip" data-bs-placement="top">
                            @product.Title @product.Feature
                        </span>

                        <br />

                        @{string visibility = "visible";

                            @if (product.Discount == 0)
                            {
                                visibility = "invisible";
                            }
                        }
                        <span class="@visibility mb-1 small">
                            <del>@Html.DisplayFor(p => product.Price)</del>&nbsp;&nbsp;<span class="bg-warning ps-1 pe-1 rounded-1">-@Html.DisplayFor(p => product.Discount)</span>
                        </span>

                        <br />

                        <span class="small">@(product.Price - product.Discount)$</span>
                    </div>
                    <a class="stretched-link" asp-action="Details" asp-route-productId="@product.Id"></a>
                </div>
                }
            </div>
    </div>


    @*<div class="col align-self-start mb-1">
            <div class="list-group">
                <div class="list-group-item text-muted pb-3 border-0">Search by category</div>
                @foreach (var category in Model.Categories)
                {
                    <a class="list-group-item list-group-item-action border-0" asp-action="IndexCategories" asp-route-categoryId="@category.Id">@category.Title</a>
                }
            </div>
        </div>*@
</div>

@section Scripts {
    <script src="~/js/tooltipsInitialize.js"></script>
}