@using OnlineStore.Models.ViewModels;

@model OnlineStore.Models.ViewModels.CommentsViewModel

<div id="loading" class="spinner-border position-relative top-50 start-50" style="display:none;width:10rem;height:10rem;" role="status"></div>
<div id="modal"></div>

<div id="data-comments" class="row">
    <div class="col-lg-7 col-12 p-3">
        <div class="row align-items-center mb-5">

            <div class="col-8 fs-3">
                <span class="h1">Reviews</span>
                &nbsp;
                @if (Model.Comments.Any(c => c.IsModerated == true))
                {
                    @await Html.PartialAsync("_DrawStarsRating", Model.Comments.Where(c => c.IsModerated == true).Average(c => c.Rating))
                    @:&nbsp;
                    <span class="fs-3">@Math.Round(Model.Comments.Average(c => c.Rating), 1) from 5</span>
                }
                else
                {
                    @await Html.PartialAsync("_DrawStarsRating", 0.0)
                    @:&nbsp;
                    <span class="fs-3">0 from 5</span>
                }
            </div>

            <div class="col-4 text-end">
                <div class="dropdown">
                    <a class="btn btn-light dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        @(Model.SortViewModel.Current == @SortState.ByDate ? "By date" : "By useful")
                    </a>

                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" style="cursor:pointer"
                               data-ajax="true"
                               data-ajax-mode="replace"
                               data-ajax-update="#data-comments"
                               data-ajax-loading="#loading"
                               data-ajax-url="@Url.Action("Comments", "Home", new { sortOrder = SortState.ByDate, page = Model.PageViewModel.PageNumber })">
                                By date
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="cursor:pointer"
                               data-ajax="true"
                               data-ajax-mode="replace"
                               data-ajax-update="#data-comments"
                               data-ajax-loading="#loading"
                               data-ajax-url="@Url.Action("Comments", "Home", new { sortOrder = SortState.ByUseful, page = Model.PageViewModel.PageNumber })">
                                By useful
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        @if (User.Identity.IsAuthenticated == false)
        {
            <div class="alert alert-warning mb-3" role="alert">
                <a asp-controller="Account" asp-action="Register" class="alert-link">Register to leave feedback</a>
            </div>
        }
        else
        {
            @*<a href="#" class="btn btn-outline-info w-100 mb-3">Leave feedback</a>*@
            <div class="accordion mb-5" id="accordionExample">
                <div class="accordion-item border border-2 border-info rounded-3">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Leave feedback
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                            <form asp-antiforgery="true"
                                  method="post"
                                  data-ajax="true"
                                  data-ajax-method="post"
                                  data-ajax-loading="#loading2"
                                  data-ajax-mode="replace"
                                  data-ajax-update="#modal"
                                  data-ajax-url="@Url.Action("SentFeedback", "Home")">

                                <div id="loading2" class="spinner-border position-relative top-50 start-50" style="display:none;width:10rem;height:10rem;" role="status"></div>

                                <div class="mb-3">
                                    <label for="Message" class="form-label">Your feedback</label>
                                    <textarea class="form-control mb-5" id="Message" name="Message" rows="5"></textarea>

                                    <div class="mb-5">
                                        <div class="rating-area">
                                            <input type="radio" id="star-5" name="Rating" value="5">
                                            <label for="star-5"></label>
                                            <input type="radio" id="star-4" name="Rating" value="4">
                                            <label for="star-4"></label>
                                            <input type="radio" id="star-3" name="Rating" value="3">
                                            <label for="star-3"></label>
                                            <input type="radio" id="star-2" name="Rating" value="2">
                                            <label for="star-2"></label>
                                            <input type="radio" id="star-1" name="Rating" value="1">
                                            <label for="star-1"></label>
                                        </div>
                                    </div>

                                    <div class="row align-items-center mb-3">
                                        <div class="col-lg-5">
                                            <label for="Virtues" class="col-form-label">Virtues:</label>
                                            <textarea id="Virtues" name="Virtues" class="form-control" rows="1"></textarea>
                                        </div>
                                        <div class="col-lg-5 offset-lg-2">
                                            <label for="Shortcomings" class="col-form-label">Shortcomings:</label>
                                            <textarea id="Shortcomings" name="Shortcomings" class="form-control" rows="1"></textarea>
                                        </div>
                                    </div>

                                    <input type="hidden" name="productId" value="@Model.Product.Id" />

                                    <div class="text-center">
                                        @*<button type="submit" class="btn btn-lg btn-outline-primary w-75 mb-3" data-bs-toggle="modal" data-bs-target="#confirmSentFeedback">Send feedback</button>*@
                                        <button type="submit" class="btn btn-lg btn-outline-primary w-75 mb-3">Send feedback</button>
                                    </div>

                                    @*<div class="modal fade" id="confirmSentFeedback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered ">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Thank you for your feedback!</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Reviews are moderated for a maximum of one day, blablabla</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="text-muted">All of <span class="text-decoration-underline">@Model.Comments.Count()</span> reviews</div>
        @foreach (var comment in Model.Comments)
        {
            <div class="p-3 border border-1 rounded-3 mb-5">
                <p><span class="fw-bold">Reviews of model: </span> @Model.Product.Title @Model.Product.Feature</p>

                <div class="row align-items-center mb-5">
                    <div class="col-6">
                        @comment.User.Email
                    </div>
                    <div class="col-6 text-end">
                        <div>@comment.Date</div>
                        <div>
                            @await Html.PartialAsync("_DrawStarsRating", Convert.ToDouble(comment.Rating))
                        </div>
                    </div>
                </div>

                <dl>
                    <dt>Review</dt>
                    <dd class="text-break mb-3" style="white-space:pre-wrap">@comment.Message</dd>
                    <dt>Virtues:</dt>
                    <dd class="text-break" style="white-space:pre-wrap">@comment.Virtues</dd>
                    <dt>Shortcomings:</dt>
                    <dd class="text-break mb-5" style="white-space:pre-wrap">@comment.Shortcomings</dd>
                </dl>


                <div class="row align-items-center mb-2">
                    <div class="col-6">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#show-answers@(comment.Id)">
                            <span class="badge rounded-pill bg-primary">@comment.Answers.Count()</span> Show answers
                        </button>
                        &nbsp;|&nbsp;
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#answer@(comment.Id)">
                            <i class="bi bi-chat-square-dots"></i> Answer
                        </button>

                    </div>
                    <div class="col-6 fs-4 text-end">
                        @await Html.PartialAsync("_Liking", comment)
                    </div>
                </div>

                @*  *@
                <div class="collapse bg-light rounded rounded-3 p-3 mb-3" id="answer@(comment.Id)">
                    <div id="loading3" class="spinner-border position-relative top-50 start-50" style="display:none;width:10rem;height:10rem;" role="status"></div>
                    <div class="clearfix mb-3 p-3">
                        <button type="button" class="btn-close float-end" data-bs-toggle="collapse" data-bs-target="#answer@(comment.Id)"></button>
                    </div>
                    <form asp-antiforgery="true"
                          method="post"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-loading="#loading3"
                          data-ajax-mode="replace"
                          data-ajax-update="#modal"
                          data-ajax-url="@Url.Action("SentAnswer", "Home")">

                        <div class="mb-3">
                            <label for="Message" class="form-label">Your ansver</label>
                            <textarea class="form-control mb-3" id="Message" name="Message" rows="5">@(comment.User.Email),&nbsp;</textarea>
                            <input type="hidden" name="CommentId" value="@comment.Id" />
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-outline-primary w-75 mb-3">Send answer</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="collapse" id="show-answers@(comment.Id)">
                    <dl class="ms-5 me-5 mb-5">
                        @foreach (var answer in comment.Answers)
                        {
                            <dt class="">
                                <span class="d-block h4"><i class="bi bi-arrow-return-right"></i></span>
                                <span class="ms-3">@answer.User.UserName</span>
                            </dt>
                            <dd class="ms-3 text-break mb-3" style="white-space:pre-wrap">@answer.Message</dd>
                        }
                    </dl>

                    <button type="button" class="btn btn-light ms-5" data-bs-toggle="collapse" data-bs-target="#show-answers@(comment.Id)">Hide answers</button>
                </div>
                @*  *@

            </div>
        }
    </div>



    <div class="offset-1 col-4 p-3 border rounded-3 d-none d-lg-block">
        <div class="card w-100 border-0">
            <div class="row mb-3">
                <div class="col-3 text-center">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Product.Image))" class="img-fluid rounded-start" style="min-width:75%" alt="Category image">
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Product.Title @Model.Product.Feature</h5>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">
                <div class="col-6 mb-lg-0">
                    @{string display = "d-block";

                        @if (Model.Product.Discount == 0)
                        {
                            display = "d-none";
                        }
                    }
                    <div class="@display mb-3">
                        <del class="text-muted">@(Model.Product.Price)$</del>
                    </div>

                    <h5 class="">@(Model.Product.Price - Model.Product.Discount)$</h5>
                </div>

                <div class="col-3 mb-lg-0 mb-3 text-center">
                    <a href="#" class="h4 fas fa-balance-scale text-secondary me-0"></a>
                </div>
                <div class="col-3 mb-lg-0 mb-3 text-center">
                    @{
                        string containsFavorite = "text-secondary";
                        @if (Model.User != null)
                        {
                            containsFavorite = Model.FavoriteProducts.Any(fp => fp.Product.Id == Model.Product.Id) ? "h4 bi bi-suit-heart-fill text-success" : "h4 bi bi-suit-heart fw-bolder text-secondary";
                        }
                    }
                    <a id="favorite@(Model.Product.Id)" onclick="ajaxAddOrDeleteFavorite(@Model.Product.Id, favorite@(Model.Product.Id))" class="@containsFavorite" style="cursor:pointer"></a>
                </div>
                <div class="col-12">
                    <a href="#" class="bi bi-cart btn btn-lg btn-success w-100">
                        <span>Bye</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <page-link page-list-model="Model.PageViewModel" page-action="Details"
               page-url-productId="Model.Product.Id"
               page-url-sortOrder="Model.SortViewModel.Current"
               page-url-ajaxPageId="3">
    </page-link>
</div>

@section Scripts {

}