@model OnlineStore.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@*<div class="container bg-light p-3">
        <div class="card" style="width: 25rem;">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" class="card-img-top p-2" alt="Category image">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">Category level - @Model.CategoryLevel</p>
                <hr />
            </div>
            @if (Model.ParentCategoryId != null)
            {
                <div class="card-body">
                    <h5 class="card-title text-muted">Parent category:</h5>
                    <p class="card-text">@Model.ParentCategory.Title</p>
                    <p class="card-text">Level: @Model.ParentCategory.CategoryLevel</p>
                </div>
            }
        </div>

        <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>*@

<div class="card mb-3 w-75 bg-light m-3 border-end-0">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" class="img-fluid rounded-start" alt="Category image">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayNameForModel()</h5>
                <p class="card-text"><span class="fw-bold">@Html.DisplayNameFor(m => m.Title)</span> : @Model.Title</p>
                <p class="card-text"><span class="fw-bold">@Html.DisplayNameFor(m => m.CategoryLevel)</span> : @Model.CategoryLevel</p>
                <p class="card-text"><span class="fw-bold">@Html.DisplayNameFor(m => m.Order)</span> : @Model.Order</p>
                <p class="card-text"><span class="fw-bold">@Html.DisplayNameFor(m => m.IsTop)</span> : @Model.IsTop</p>
                <hr />
            </div>
            @if (Model.ParentCategoryId != null)
            {
                <div class="card-body text-muted">
                    <h5 class="card-title text-muted">@Html.DisplayNameFor(m => m.ParentCategory)</h5>
                    <p class="card-text">@Model.ParentCategory.Title</p>
                    <p class="card-text"><span class="fw-bold">@Html.DisplayNameFor(m => m.CategoryLevel)</span> : @Model.ParentCategory.CategoryLevel</p>
                </div>
            }
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning m-2">Edit</a> |
        <a asp-action="Index" class="btn btn-primary m-2">Back to List</a>
    </div>
</div>




